<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h3>{{firstname}}, you have been assigned to a new task!</h3>
<p>{{userNames}} assigned you to the following task : <a target="_blank" href="{{link}}">{{taskName}}</a>.</p>
</body>
</html>