<!DOCTYPE html>
<html>
<head>
  <title>Registration Confirmation</title>
</head>
<body>
<h1>Welcome {{firstName}}!</h1>
<p>Thank you for registering, {{firstName}} {{lastName}}.</p>
<p>We are excited to have you onboard.</p>
</body>
</html>